
climate_starter-Copy1.ipynb
Images/describe.png
Images/precipitation.png
Images/station-histogram.png
Images/surfs-up.png
Resources/hawaii_measurements.csv
sqlalchemy_grading_rubric.pdf
Images/temperature.png
Resources/hawaii.sqlite
Resources/hawaii_stations.csv
